html
	head
		script(src="http://code.jquery.com/jquery-1.11.1.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js")
		script(src="main.js")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")

	script(id="tracks-template", type="text/x-handlebars-template")
		tr
			td {{name}}
			{{#if artists.name}}
			td {{artists.name}}
			{{/if}}
			{{#if album.name}}
			td {{album.name}}
			{{/if}}
			td {{playlist}}
		

	body
		div.container
			div.row
				h2.
					Search Hi Friend!
			div.row.form-inline
				div.form-group(style='padding-right:15px;')
					input(type='text', id='search-query', placeholder='Text', class='form-control')
				button#search-btn.btn.btn-primary.
					Search
			div.row(style='margin-top:30px;')
				table#results.table.table-bordered
					tr
						th Name
						th Artist
						th Album
						th Playlist

